*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#176B87,#053B50);
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    outline: 0;
    border: 0;
    background: #EEEEEE;
    color: #555;
    padding: 10px 35px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #EEEEEE;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.search button:hover{
    width: 60px;
    height: 60px;
}
.search button i{
    font-size: 16px;
}
.rainy-day{
    margin-top: 50px;
    width: 170px;
}
.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: 50px;

}
.details{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
    
}